<ion-view title="Add a Product">
    <ion-content overflow-scroll="false" padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 24px;"></div>
        <div>
            <p>Ready to add another product!?</p>
        </div>
        <div class="spacer" style="width: 283px; height: 48px;"></div>
        <form ng-submit="addProduct()" class="list">
            <label class="item item-input">
                <span class="input-label">Device Name</span>
                <input ng-model="newDevice.name" type="text" placeholder="Name your device!">
            </label>
            <label class="item item-input">
                <span class="input-label">Serial Number</span>
                <input ng-model="newDevice.serial" type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Zip Code</span>
                <input ng-model="newDevice.zip" type="text">
            </label>
            <div class="spacer" style="width: 283px; height: 5px;"></div>
            <button class="button button-energized button-block  icon-right ion-android-add-circle" type="submit">Add Product</button>
        </form>
            <div class="spacer" style="width: 283px; height: 5px;"></div>
            <a href="#/devices" class="button button-assertive button-block  icon-right ion-androi-minus-circle">Cancel</a>
        
    </ion-content>
</ion-view>