<ion-view title="Devices">
    <ion-content overflow-scroll="false" padding="true" class="has-header">
        <ion-list ng-repeat="device in devices">
            <ion-item href="#/Tabs/personal" class= "item item-icon-right">{{device.device_name}}
            <i class = "icon ion-ios-arrow-left"></i>
            <ion-option-button class="button-balanced" ng-click = "edit(device)">Edit</ion-option-button>
        	</ion-item>
        </ion-list>
        <a href="#/addproduct" class="button button-energized button-block  icon-right ion-android-add-circle">Add Product</a>
        <script id="popup-template.html" type="text/ng-template">
          <input ng-model="data.name" type="text">
          <input ng-model="data.zip" type="text">
        </script>
    </ion-content>
</ion-view>