<ion-view title="Everyone's Tern">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Coming Soon!</h1>
        <div>
            <p>Get information about how water is used around the world! But meanwhile...</p>
        </div>
        <a href="#" onclick="window.open('http://www.ternwater.com/', '_system', 'location=yes'); return false;" class="button button-royal button-clear button-block ">Check Out the Website</a>
    </ion-content>
</ion-view>