<ion-view title="Login">
    <ion-content overflow-scroll="false" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/uU60WMQmQSjfrKHjTfKw_Tern Water.jpg" width="105%" height="auto">
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input ng-model="user.email" type="email" placeholder="">
            </label>
            <ion-list></ion-list>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password" placeholder="">
            </label>
        </form>
        <a href="#/devices" class="button button-calm button-block ">Log in</a>
        <a href="#/signup" class="button button-calm button-outline button-block ">Or create an account</a>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <button class="button button-positive button-clear button-block button-small">Forgot your password?</button>
    </ion-content>
</ion-view>