<ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view title="My Tern">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div class="list card">
            <div class="item item-divider">Purity</div>
            <h>
            <div class="item item-body">
               <div class="item range range-positive">
                    <i class="icon ion-waterdrop"></i>
                    <input type="range" name="battery" min="0" max="100" value="75">
                    <h2>75%</h2>
               </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Flow <i class = "ion-arrow-graph-up-right"></i></div>
            <div class="item item-body">
                <h1 style="text-align: center">1.56 gal/min<h1>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Temperature <i class = "ion-arrow-graph-down-left"></i></div>
            <div class="item item-body">
                <h1 style="text-align: center">69.29 &degF<h1>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Battery Life</div>
            <div class="item item-body">
               <div class="item range range-positive">
                    <i class="icon ion-battery-half"></i>
                    <input type="range" name="battery" min="0" max="100" value="45">
                    <h2>45%</h2>
               </div>
        </div>
        <ion-list>
            <ion-item class="item-divider">Share Your Stats</ion-item>
        </ion-list>
        <div class="button-bar">
            <button class="button button-positive button-block  icon ion-social-facebook"></button>
            <button class="button button-calm button-block  icon ion-social-twitter"></button>
            <button class="button button-royal button-block  icon ion-social-tumblr"></button>
        </div>
    </ion-content>
</ion-view>