<ion-view title="Our Tern">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">Contaminents</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Flow</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Temperature</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Battery Life</div>
            <div class="item item-body"></div>
        </div>
        <ion-list>
            <ion-item class="item-divider">Share</ion-item>
        </ion-list>
        <div class="button-bar">
            <button class="button button-positive button-block  icon ion-social-facebook"></button>
            <button class="button button-calm button-block  icon ion-social-twitter"></button>
            <button class="button button-royal button-block  icon ion-social-tumblr"></button>
        </div>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>