<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form ng-submit = "signup()" class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input ng-model="user.name" type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input  ng-model="user.email" type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model="user.password" type="text" placeholder="">
                </label>
            </ion-list>
            <button class="button button-stable button-block" type="submit">Sign up</button>
        </form>
    </ion-content>
</ion-view>