<ion-view title="Tabs Controller">
    <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Me" icon="ion-android-person" href="#/Tabs/personal">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My Community" icon="ion-android-people" href="#/Tabs/Community">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="The World" icon="ion-ios-world-outline" href="#/Tabs/World">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>