<ion-view title="Welcome to Tern!">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>You have just set up your Tern Account! You are about to have real time stats abou the water you drink! So let's get started right away! Add your device by filling out the following information about your product
                <strong>markdown</strong>
            </p>
        </div>
        <form class="list">
            <div class="spacer" style="width: 283px; height: 36px;"></div>
            <label class="item item-input">
                <span class="input-label">Device Name</span>
                <input type="text" placeholder="Name your device!">
            </label>
            <label class="item item-input">
                <span class="input-label">Device Number</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Zip Code</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 43px;"></div>
        </form>
        <form class="list"></form>
        <a href="#/devices" class="button button-energized button-block  icon-right ion-android-add-circle">Add Product</a>
    </ion-content>
</ion-view>