/*!
 * Start Bootstrap - Portfolio Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

 .imageContainer {
       width:500px; 
       height:300px; 
       background-image: url(locationoftheimage);
 }
 
 .center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.moveimage
{
    position: relative;
    top: 25px;
    left: 15px;
}


.statusimg {
    position: relative
}

.text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 15px;
    width: 50%;
    left: 110px;
}

.textHealth {
    position:absolute;
    text-align:center;
    top: 200px;
    width: 75%;
    left: 60px;
}
